.hero-parent-ctn {
  background: url(./herobg.jpg) no-repeat;
  margin-top: 0.75em;
  background-size: cover;
  height: 300px;
  width: 100vw;
}

.hero-text-ctn {
  text-align: center;
  padding: 1.5em;
}

.hero-text-ctn p {
  font-family: "Caladea", serif;
  color: white;
}

.hero-header {
  font-weight: bold;
  font-size: calc(1.25em + 0.5vw);
  padding-top: 2em;
  margin: 0;
}

.hero-header span {
  color: var(--primary-pink);
}

.hero-caption {
  font-size: calc(0.75em + 0.5vw);
  padding: 1em 0;
  margin: 0 0 1.5em 0;
}

.hero-text-ctn a {
  text-decoration: none;
  font-size: 0.75em;
  color: white;
}

.hero-btn a {
  display: inline;
  border: 2px solid white;
  padding: 0.75em 1em;
}

@media only screen and (min-width: 768px) {
  .hero-parent-ctn {
    height: calc(12em + 5vw + 5vh);
  }

  .hero-text-ctn {
    padding: 2.75em 3.5em;
  }

  .hero-header {
    padding-top: 1em;
  }

  .hero-caption {
    font-size: calc(0.85em + 0.35vw);
  }

  .hero-btn a {
    font-size: calc(0.75em + 0.25vw);
    padding: 1em 1.25em;
    border: 3px solid white;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-text-ctn {
    padding: 2.75em 4.5em;
  }

  .hero-btn a {
    border: 3px solid white;
  }
}
