.hero-parent-ctn {
  background: url(./herobg.jpg) no-repeat;
  margin-top: 0.75em;
  background-size: cover;
  height: 225px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.hero-text-ctn {
  text-align: center;
}

.hero-text-ctn p {
  font-family: "Caladea", serif;
  color: white;
  margin: 0 auto;
}

.hero-header {
  font-weight: bold;
  font-size: calc(1.25em + 0.5vw);
  padding-top: 3.5em;
  margin: 0 auto;
}

.hero-header span {
  color: var(--primary-pink);
}

.hero-caption {
  font-size: calc(0.75em + 0.5vw);
  padding: 1em 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .hero-parent-ctn {
    height: calc(12em + 5vw + 5vh);
  }

  .hero-text-ctn {
    max-width: 785px;
    min-width: 695px;
    width: 90%;
    text-align: left;
  }

  .hero-header {
  }

  .hero-caption {
    font-size: calc(0.85em + 0.35vw);
  }

  .hero-btn a {
    font-size: calc(0.75em + 0.25vw);
    border: 3px solid white;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-btn a {
    border: 3px solid white;
  }
}
