.srvc-parent-ctn {
  margin: 0 auto;
}

.srvc-panel-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.srvc-header-ctn {
  text-align: center;
  padding: 4em 0.5em 1.5em 0.5em;
}

.line1 {
  margin: 0.75em auto;
  width: 75px;
  height: 1px;
  background-color: var(--secondary-pink);
  border: none;
}

.srvc-header-ctn p {
  font-size: 0.85em;
  margin: 0 auto;
  width: 95%;
  max-width: 350px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.srvc-nav {
  display: flex;
  overflow: scroll;
  width: 100%;
  scrollbar-width: none;
  cursor: pointer;
}

.srvc-ctgs {
  flex-shrink: 0;
  width: 30%;
  height: calc(1em + 3.5vh);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line2 {
  margin: 0;
  width: 100%;
  height: 5px;
  background-color: var(--primary-pink);
  border: none;
}

.category-title {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

.srvc-display {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background: url(./pics/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(10em + 35vh + 10vw);
  color: white;
}

.line3 {
  margin: 1vh auto;
  width: 80%;
  height: 1px;
  background-color: white;
}

.srvc-display-title {
  font-size: 1.35em;
  font-weight: bold;
  padding: 7vh 10vw 0 10vw;
}

.srvc-display-list {
  display: flex;
  justify-content: space-between;
  padding: 2vh 10vw 0vh 10vw;
  font-size: 0.8em;
  font-weight: 200;
}
ul.srvc-type li,
ul.srvc-price li {
  padding: 0.1vh 0;
}

.first-srvc {
  font-size: 1.35em;
}

.srvc-display-desc {
  border: 3px solid var(--primary-pink);
  background-color: rgba(222, 126, 152, 0.1);
  margin: 10vh auto 6vh auto;
  padding: 3vh 8vw;
  width: 65%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.75em;
  font-weight: 200;
  overflow: auto;
}

.display-srvc span {
  font-size: 1em;
}

@media only screen and (min-width: 900px) {
  .srvc-panel-ctn {
    width: 90%;
    max-width: 800px;
  }

  .srvc-header-ctn p {
    padding: 0 10em;
  }

  .srvc-display {
    height: calc(10em + 25vh + 15vw);
  }

  .srvc-ctgs {
    width: 20%;
  }

  .srvc-display-title {
    font-size: 1.75em;
    padding: 7vh 3.15em 0vh 3.15em;
  }

  .line3 {
    width: 78%;
  }

  .srvc-display-list {
    font-size: 0.95em;
    padding: 2em 5.75em 0 5.75em;
  }

  .srvc-display-desc {
    width: 69%;
    padding: 2.5em 2.5em;
    font-size: 0.85em;
  }
}
