.service-selection-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: white;
}

.srvc-nav-booking {
  display: flex;
  overflow: scroll;
  width: 92%;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.srvc-nav-booking > h3,
.srvc-nav-booking > h4 {
  align-self: flex-start;
}

.srvc-nav-booking > h4 {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.service-selection {
  flex-shrink: 0;
  width: 100%;
  height: calc(1em + 3.7vh);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-options {
  display: flex;
  justify-content: center;
}

.service-option-list {
  width: 92%;
}

.service-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  height: 6vh;
  align-items: center;
  margin: -1px;
  background-color: white;
}

.service-info:hover {
}

.service-info > li {
  margin-left: 7%;
  margin-right: 7%;
}
