.top-parent-container {
  display: grid;
  grid-template-columns: 225px auto;
}

.logo {
  position: relative;
  float: left;

  font-family: "Aladin", cursive;
  font-size: 3em;
  color: white;
}

.settings {
  position: relative;
  float: right;

  top: 1.25em;
  color: white;
  font-size: 0.85em;
  font-weight: bold;
}
