
.navbar-container {
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: 'Aladin', cursive;
    font-size: 4em;
    color: white;
}

.logo::after{
    content: "STYLE";
    color: rgb(36, 84, 43);
}

.categories {
    font-family: 'Catamaran', sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 10vh;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
}

.links > li {
    padding: 10px 0px 10px 0px;

}

.icon{
    margin-right: 1rem;
    font-size: larger;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px 8px 20px
}

.link:hover{
    background-color: rgb(0, 172, 207);
}
