.customer-details-container {
  display: flex;
  flex-direction: column;
  width: auto;
  color: #303030;
  font-weight: bold;
  margin: 1em 0;
  flex-wrap: nowrap;
}

.confirm-line {
  margin: 1.5em 0;
  border: 1px solid #c4c4c4;
}

.customer-details-container > div {
  width: 100%;
  word-break: break-all;
  margin: 0;
}
