.footer-parent-ctn {
  width: 100%;
  height: 50px;
  background-color: rgb(222, 126, 152, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text-ctn p {
  margin: 0 auto;
  text-align: center;
  font-size: 0.7em;
}
