:root {
  --primary-pink: #de7e98;
  --secondary-pink: #d7598b;
  --primary-font-color: #303030;
}

body {
  margin: 0;
  background: #e5e5e5;
  font-family: "Catamaran", sans-serif;
}

.header {
  font-family: "Caladea", serif;
  font-size: 2em;
  color: var(--secondary-pink);
}
