:root {
  --primary-pink: #de7e98;
  --secondary-pink: #d7598b;
  --primary-font-color: #303030;
  --calender-pink: #f08080;
}

html {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;

  background: #eeeeee;
  font-family: "Catamaran", sans-serif;
  overflow-x: hidden;
}

.ns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header {
  text-align: center;
  display: inline-block;
  padding: 0.25em 0;
  font-size: 1.05em;
  font-weight: bold;
  color: var(--primary-font-color);
}

.header-paragraph {
  font-size: 0.85em;
  margin: 0 auto;
  width: 85%;
  max-width: 450px;
}

.line1 {
  padding: 0;
  margin: 0 auto 0.75em auto;
  width: 60px;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 1.45em;
  }

  .header-paragraph {
    font-size: 0.95em;
  }
}
