:root {
  --primary-pink: #de7e98;
  --secondary-pink: #d7598b;
  --primary-font-color: #303030;
}

body {
  margin: 0;
  background: #e5e5e5;
  font-family: "Catamaran", sans-serif;
}

.ns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: inline-block;
  padding: 0.25em 0;
  font-size: 1.15em;
  font-weight: bold;
  color: var(--primary-font-color);
}

.header-paragraph {
  font-size: 0.85em;
  margin: 0 auto;
  width: 95%;
  max-width: 450px;
}

.line1 {
  margin: 0 auto 0.6em auto;
  width: auto;
  height: 3px;
  background-color: #cccccc;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 1.45em;
  }

  .line1 {
    width: 800px;
  }
}
