

.container {
    display: flex;
    flex-direction: row;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100vh;
    background-color: #9F2958;
    justify-content: start;
    align-items: center;
}

.content-container {
    display: flex;
    width: 77%;
    height: 100vh;
    background-color: #F0C8D3;
}
