.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100vh;
  background-color: #9f2958;
  justify-content: start;
  align-items: center;
}

.content-container {
  display: flex;
  width: 77%;
  background-color: #f0c8d3;
  overflow-y: auto;
  justify-content: center;
}
