.page-container {
  height: 100vh;
}

.navbar-top-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 12%;
  background-color: #842349;
}

.content-container {
  display: grid;
  grid-template-columns: 225px auto;
}

.navbar-left-container {
  display: flex;
  flex-direction: column;
  min-width: 225px;
  max-width: 225px;
  height: auto;
  background-color: #9f2958;
  justify-content: start;
  align-items: center;
}

.state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ece5e7;
  overflow-y: auto;
}
