.booking-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  min-height: 100vh;
}

.booking-step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 92%;
  height: auto;
}

.booking-float-container {
}

.booking-navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

.home-symbol {
  width: 45%;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.home-symbol:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  background-color: #f9f9f9;
  margin: 1em 0;
}

.next-button,
.previous-button,
.finish-button {
  padding: 0.75em 2em;
  background-color: var(--primary-pink);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.next-button:hover,
.finish-button:hover {
  background-color: #af6578;
}

.previous-button {
  margin-right: 1em;
  background-color: #c4c4c4;
}

.previous-button:hover {
  background-color: #aaaaaa;
}

@media only screen and (max-width: 768px) {
  .calender-container {
    display: flex;
    justify-content: center;
  }
  .calender {
  }

  .booking-page-container {
  }
}
