.booking-page-container {
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.booking-navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 13vh;
}

.home-symbol {
  width: 45%;
  display: flex;
  justify-content: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.home-symbol:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .calender-container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .calender {
    width: 92%;
  }

  .booking-page-container {
  }
}
