.booking-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 7.5rem 0;
  max-width: 800px;
}

.booking-slots {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 100%;
}

.price-input {
  background: #ececec;
}

.price-container > label {
  margin-right: 0.6vw;
}

.booking-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 7px;
}

.card-head {
  display: flex;
  background: #de7e98;
  height: 7vh;
  align-items: center;
  color: #ffffff;
  font-size: 1.9em;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 22vh;
  align-items: flex-start;
  font-size: 1.2em;
  justify-content: space-evenly;
}

.card-head > div,
.body-left-content > div {
  margin-left: 1.8rem;
}
.cancel-button {
  margin-right: 1.8rem;
  border: 0.5px solid transparent;

  transition: ease 0.2s;
}

.cancel-button:hover {
  border: 0.5px solid white;
  cursor: pointer;
}

.body-left-content {
  margin-top: 1rem;
  width: 100%;
}

.body-right-content {
  align-self: center;
  margin-right: 3.5rem;
}

.right-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-button {
  display: flex;
  align-items: center;
  transition: ease 0.2s;
  border: 1px solid transparent;
  border-radius: 3px;
}

.payment-button:hover {
  border: 1px solid black;
}

.payment-button > div {
  margin-right: 0.3rem;
  font-weight: bold;
  padding-left: 0.3rem;
  cursor: pointer;
}

.admin-booking-calendar .react-calendar__tile {
  padding: 3em 0.3em;
}
