.booking-container {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.react-calendar {
  max-width: 100%;
  background: white;
  width: 55vw;
  font-family: "Catamaran", sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.booking-slots {
  display: flex;
  flex-direction: column;
}

.booking-card {
  display: flex;
  justify-content: center;
  width: 55vw;
  flex-direction: column;
  border-radius: 20px;
  padding-bottom: 2rem;
}

.card-head {
  display: flex;
  background: #de7e98;
  height: 7vh;
  align-items: center;
  color: #ffffff;
  font-size: 1.9em;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 17vh;
  align-items: start;
  font-size: 1.2em;
}

.card-head > div,
.body-left-content > div {
  margin-left: 1.8rem;
}
.cancel-button {
  margin-right: 1.8rem;
  border: 0.5px solid transparent;

  transition: ease 0.2s;
}

.cancel-button:hover {
  border: 0.5px solid white;
  cursor: pointer;
}

.body-left-content {
  margin-top: 1rem;
}

.body-right-content {
  align-self: flex-end;
  margin-right: 1rem;
}

.payment-button {
  display: flex;
  align-items: center;
  transition: ease 0.2s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.payment-button:hover {
  border: 1px solid black;
}

.payment-button > div {
  margin-right: 0.2rem;
  font-weight: bold;
  padding-left: 0.2rem;
  cursor: pointer;
}

.react-calendar__navigation__label {
  pointer-events: none;
}
.react-calendar__navigation__label__labelText {
  font-size: 2.3em;
}

.react-calendar__navigation__arrow {
  font-size: 2em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  margin: 2rem;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 2.5em 1.5em;
  background: none;
  font-size: 1em;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #f08080;
}
.react-calendar__tile--now {
  background: #0ead69 !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #0ead69;
}
.react-calendar__tile--hasActive {
  background: #f08080;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f08080;
}
.react-calendar__tile--active {
  background: #f08080;
  color: black;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #f08080;
}
