.gallery-parent-ctn {
  margin: 0 auto;
}

.gallery-header-ctn {
  text-align: center;
  padding: 4em 0.5em 1.5em 0.5em;
}

.gallery-display-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
}

.gallery-passage-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid var(--primary-pink);
  background-color: rgba(222, 126, 152, 0.1);

  max-width: 325px;
  min-height: 375px;
}

.gallery-passage-ctn p {
  margin: 0 auto;
  padding: 2.75em;
  font-size: 0.85em;
}

.gallery-picture-ctn {
  display: flex;
  justify-content: center;
  width: 80%;
}

.display-picture {
  width: 17em;
  height: 25em;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.gallery-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 4.25em;
}

.navbar-picture {
  width: 3.75em;
  height: 3.75em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.navbar-picture:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .gallery-display-ctn {
    flex-direction: row;
    max-width: 800px;
    width: 87%;
  }

  .gallery-passage-ctn {
    height: auto;
    width: 500px;
    margin-bottom: 4.55em;
  }

  .gallery-passage-ctn p {
    font-size: 0.8em;
    padding: 2.75em;
  }

  .gallery-picture-ctn {
  }

  .picture-bg-border {
    height: 357px;
    width: 257px;
  }

  .picture-bg-fill,
  .display-picture {
    height: 360px;
    width: 260px;
  }

  .display-ctn {
  }

  .gallery-navbar {
    height: 72px;
  }

  .navbar-picture {
    height: 62px;
    width: 62px;
  }
}
