.multistep-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.bar {
  width: 28%;
  height: 1vw;
  background-color: #c4c4c4;
  border: none;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .circle {
    width: 2.5vw;
    height: 2.5vw;
  }

  .bar {
    width: 28.5%;
    height: 0.65vw;
  }
}

@media only screen and (min-width: 1200px) {
  .bar {
    height: 0.5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .bar {
    width: 27%;
  }
}
